AgrotouristicWebApplication/AgrotouristicWebApplication/bin/*
AgrotouristicWebApplication/AgrotouristicWebApplication.Tests/obj/*
AgrotouristicWebApplication/AgrotouristicWebApplication/obj/*
AgrotouristicWebApplication/AgrotouristicWebApplication.Tests/bin/*
AgrotouristicWebApplication/Repository/obj/*
AgrotouristicWebApplication/Repository/bin/*
