@model Dictionary<string,List<SelectListItem>>

<section >
    <div >
        @Html.Label("Domek", htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-1" >
            @Html.DropDownList("SelectedHouseDetails", Model["Houses"], new { id= "SelectedHouseDetails", onchange = "handler(event)" })
        </div>
        <div class="col-md-1">
            <input type="button" id="btnGetHouseDetails" value="Wyświetl" style="visibility:hidden;display:inline-block" />
        </div> 
    </div>

    <div>
        @Html.Label("Warsztaty(terminy)", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-lg-3">
            @Html.DropDownList("SelectedWeekAttractions", Model["Weeks"], new { id = "SelectedWeekAttractions", onchange = "handler(event)" })
        </div>
        <div class="col-md-1">
            <input type="button" id="btnGetAttractionsDetails" value="Wyświetl" style="visibility:hidden;display:inline-block" />
        </div>
    </div>
</section>