@model PagedList.PagedList<string>
@using PagedList.Mvc

@{
    ViewBag.Title = "Attractions";
}

<div>
    <h2>Warsztaty</h2>
    @foreach (string item in Model)
    {
        <p>@item</p>
    }

    <div>
        <br />
        Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Attractions", new { page }))
    </div>
</div>

