@{
    ViewBag.Title = "Confirm Email";
}

<h2>Potwierdź email</h2>
<div>
    <p>
        Dziękujemy za potwierdzenie e-maila. Proszę @Html.ActionLink("Kliknij tu w celu zalogowania", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
