@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Potwierdzenie zapomnianego hasła</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdź email w celu zresetowania hasła.
    </p>
</div>
	
