@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Potwierdzenie zresetowanego hasła</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało zresetowane. Proszę @Html.ActionLink("Kliknij tutaj w celu zalogowania", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
