@model Repository.Models.User

@{
    ViewBag.Title = "EditBaseData";
}

@if (ViewBag.exception == true)
{
    <div class="alert alert-danger" role="alert">
        Wystąpił błąd.
    </div>
}

<head>

</head>

<h2>Edytuj podstawowe dane osobowe</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("~/Views/Shared/_EditBaseDataPartial.cshtml",Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz" class="btn btn-default" />
        </div>
    </div>

    <input type="hidden" id="EditBaseSecurityStamp" name="EditBaseSecurityStamp" value="@Model.SecurityStamp" />

}

<div>
    @Html.ActionLink("Wróć", "Index", "Home")
</div>